{% extends 'base.html.twig' %}

{% block title %}Verander wachtwoord{% endblock %}

{% block body %}
    <h1>Verander wachtwoord</h1>
    <div id="formErrorsClient"></div>
    <div id="formErrorsServer">
        {{ form_errors(form) }}
        {{ form_errors(form.plainPassword) }}
        {{ form_errors(form.plainPassword.children.first) }}
        {{ form_errors(form.plainPassword.children.second) }}
    </div>
    {{ form_start(form) }}
    <table id="changePasswordTable" class="table tableSmall">
        <tr><td>Wachtwoord</td>
            <td>{{ form_widget(form.plainPassword.children.first) }}</td></tr>
        <tr><td>Herhaal wachtwoord</td>
            <td>{{ form_widget(form.plainPassword.children.second) }}</td></tr>
        <tr><td colspan="2">{{ form_widget(form.changePassword, { 'label': 'Verander wachtwoord' }) }}</td></tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
