{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block content %}
    {{ page is not null ? page.content|raw : '' }}
    <div id="form_errors_client"></div>
    <div id="form_errors_server">
        {{ form_errors(form) }}
        {{ form_errors(form.plain_password) }}
        {{ form_errors(form.plain_password.children.first) }}
        {{ form_errors(form.plain_password.children.second) }}
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col">{{ form_label(form.plain_password.children.first) }}</div>
        <div class="col">{{ form_widget(form.plain_password.children.first) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_label(form.plain_password.children.second) }}</div>
        <div class="col">{{ form_widget(form.plain_password.children.second) }}</div>
    </div>
    <div class="row">
        <div class="col">{{ form_widget(form.change_password, { 'label': 'Verander wachtwoord' }) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}
