{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {{ page is not null ? page.content|raw : '' }}
    <div id="form-errors-client"></div>
    <div id="form-errors-server">
        {{ form_errors(form) }}
        {{ form_errors(form.plainPassword) }}
        {{ form_errors(form.plainPassword.children.first) }}
        {{ form_errors(form.plainPassword.children.second) }}
    </div>
    {{ form_start(form) }}
    <table class="table table-small">
        <tr><td>Wachtwoord</td>
            <td>{{ form_widget(form.plainPassword.children.first) }}</td></tr>
        <tr><td>Herhaal wachtwoord</td>
            <td>{{ form_widget(form.plainPassword.children.second) }}</td></tr>
        <tr><td colspan="2">{{ form_widget(form.changePassword, { 'label': 'Verander wachtwoord' }) }}</td></tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
