{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {% if isLoggedIn %}
        <div>Je bent ingelogd als {{ username }},
            <a href="{{ path('appLogout') }}">klik hier</a> om uit te loggen.</div>
        <div class="no-wrap">Verander <a href="{{ path('changePassword') }}">hier</a> je wachtwoord.</div>

        {% if 'ROLE_ADMIN' in roles  %}
            <div class="no-wrap">Ga naar het <a href="{{ path('adminHomepage') }}">Admin Panel</a>.</div>
        {% endif %}
    {% else %}
        {{ page is not null ? page.content|raw : '' }}
        <div id="form-errors-client"></div>
        <div id="form-errors-server">
            {{ form_errors(form) }}
            {{ form_errors(form.email) }}
            {{ form_errors(form.password) }}
        </div>
        {{ form_start(form) }}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security', 'nl') }}</div>
        {% endif %}
        <table class="table table-small">
            <tr>
                <td>E-mail</td>
                <td>{{ form_widget(form.email,
                        {'value' : last_username}) }}</td>
            </tr>
            <tr>
                <td>Wachtwoord</td>
                <td>{{ form_widget(form.password) }}</td>
            </tr>
            <tr>
                <td colspan="2">{{ form_widget(form.login, {'label': 'Inloggen'}) }}</td>
            </tr>
        </table>
        {{ form_end(form) }}
        <span class="no-wrap">Niet geregistreerd? Ga naar <a href="{{ path('appRegister') }}">deze</a> link.</span>
    {% endif %}
{% endblock %}
