<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.image) }}
    {{ form_errors(form.username) }}
    {{ form_errors(form.email) }}
    {{ form_errors(form.birthdate) }}
    {{ form_errors(form.gender) }}
    {{ form_errors(form.weight) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_errors(form.plainPassword.children.first) }}
    {{ form_errors(form.plainPassword.children.second) }}
</div>
{{ form_start(form) }}
<table class="table table-small">
    <tr>
        <td colspan="2">
            <button id="uploadFileButton" class="btn btn-primary">Upload foto</button>
            {{ form_widget(form.image) }}
        </td>
    </tr>
    <tr>
        <td>Gebruikersnaam</td>
        <td>{{ form_widget(form.username) }}</td>
    </tr>
    <tr>
        <td>E-mail</td>
        <td>{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
        <td>Geboortedatum</td>
        <td>
            {{ form_widget(form.birthdate.day, {'attr': {'class': 'date-field form-control form-select'}}) }}
            {{ form_widget(form.birthdate.month, {'attr': {'class': 'date-field form-control form-select'}}) }}
            {{ form_widget(form.birthdate.year, {'attr': {'class': 'date-field form-control form-select'}}) }}
        </td>
    </tr>
    <tr>
        <td>Geslacht</td>
        <td>{{ form_widget(form.gender) }}</td>
    </tr>
    <tr>
        <td>Gewicht</td>
        <td>{{ form_widget(form.weight) }}</td>
    </tr>
    <tr>
        <td>Wachtwoord</td>
        <td>{{ form_widget(form.plainPassword.children.first) }}</td>
    </tr>
    <tr>
        <td>Herhaal wachtwoord</td>
        <td>{{ form_widget(form.plainPassword.children.second) }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ form_widget(form.register, { 'label': submitLabel }) }}</td>
    </tr>
</table>
{{ form_end(form) }}
