<div id="form_errors_client"></div>
<div id="form_errors_server">
    {{ form_errors(form) }}
    {% if form.date is defined %}
        {{ form_errors(form.date) }}
    {% endif %}
    {{ form_errors(form.foodstuff_weights) }}
    {{ form_errors(form.foodstuff_units) }}
    {{ form_errors(form.recipe_weights) }}
</div>
{{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
<table class="food-table table table-small">
    {% if form.date is defined %}
        <tr>
            <td>Datum</td>
            <td colspan="3">{{ form_widget(form.date) }}</td>
        </tr>
        {% set formName = 'day' %}
    {% else %}
        {% set formName = 'standard_day' %}
    {% endif %}
    {{ include('_food_row.html.twig', {
        'form_name': formName,
        'entities': day.foodstuffs,
        'weights': form.foodstuff_weights,
        'units': form.foodstuff_units,
        'food_type': 'foodstuff',
        'placeholder': 'voedingsmiddel',
    }) }}
    {{ include('_food_row.html.twig', {
        'form_name': formName,
        'entities': day.recipes,
        'weights': form.recipe_weights,
        'food_type': 'recipe',
        'placeholder': 'gerecht'
    }) }}
    <tr id="add_foodstuff_recipe_button_row">
        <td colspan="4">
            <div class="btn btn-primary" id="add_foodstuff">Voedingsmiddel toevoegen</div>
            <div class="btn btn-primary" id="add_recipe">Gerecht toevoegen</div>
        </td>
    </tr>
    <tr>
        <td colspan="3">{{ form_widget(form.submit, { 'label': submit_label }) }}</td>
    </tr>
</table>
{{ form_end(form) }}
