<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
</div>
{{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
{% if form.date is defined %}
    {{ form_errors(form.date) }}
{% endif %}
<table class="food-table table table-small">
    {% if form.date is defined %}
        <tr><td>Datum</td><td colspan="2">{{ form_widget(form.date) }}</td></tr>
        {% set formName = 'day' %}
    {% else %}
        {% set formName = 'standard_day' %}
    {% endif %}
    {{ include('foodRow.html.twig', {'formName': formName, 'entities': day.foodstuffs,
        'weights': form.foodstuffWeights, 'foodType': 'foodstuff'}) }}
    {{ include('foodRow.html.twig', {'formName': formName, 'entities': day.recipes,
        'weights': form.recipeWeights, 'foodType': 'recipe'}) }}
    <tr id="add-foodstuff-recipe-button-row"><td colspan="3">
            <button class="btn btn-primary" id="add-foodstuff">Voedingsmiddel toevoegen</button>
            <button class="btn btn-primary" id="add-recipe">Recept toevoegen</button></td></tr>
    <tr><td colspan="3">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
