{% extends 'base.html.twig' %}

{% block title %}Dag{% endblock %}

{% block body %}
    <table class="table table-small">
        {% if day.date is not null %}
            <tr>
                <td>Datum</td>
                <td>{{ day.date|date('d-M-Y') }}</td>
            </tr>
        {% endif %}
        {% for id, weight in day.foodstuffWeights %}
            <tr>
                <td>{{ day.foodstuffs()[id].name }}</td>
                <td>{{ weight|number_format }}
                    {% if day.foodstuffs()[id].pieceName is not null and weight >= 2 %}
                        {{ day.foodstuffs()[id].piecesName }}
                    {% elseif day.foodstuffs()[id].pieceName is not null and weight < 2 %}
                        {{ day.foodstuffs()[id].pieceName }}
                    {% else %}
                        {{ day.foodstuffUnits()[id] }}
                    {% endif %}</td>
            </tr>
        {% endfor %}
        {% for id, weight in day.recipeWeights %}
            <tr>
                <td>{{ day.recipes()[id].title }}</td>
                <td>{{ weight|number_format }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><a href="{{ path('day_edit', {'id': day.id}) }}">wijzig</a></td>
        </tr>
    </table>
{% endblock %}
