{% extends 'base.html.twig' %}

{% block title %}Dag{% endblock %}

{% block body %}
    <table class="table table-small">
        {% if day.date is not null %}
            <tr>
                <td>Datum</td>
                <td>{{ day.date|date('d-M-Y') }}</td>
            </tr>
        {% endif %}
        {% for id, weight in day.foodstuffWeights %}
            <tr>
                <td>{{ day.foodstuffs()[id].name }}</td>
                <td>{{ weight|number_format }} g</td>
            </tr>
        {% endfor %}
        {% for id, choice in day.foodstuffChoices %}
            <tr>
                <td>{{ day.foodstuffs()[id].name }}</td>
                <td>{{ choice }} {{ day.foodstuffs()[id].pieceName }}</td>
            </tr>
        {% endfor %}
        {% for id, choice in day.recipeChoices %}
            <tr>
                <td>{{ day.recipes()[id].title }}</td>
                <td>{{ choice|number_format }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><a href="{{ path('day_edit', {'id': day.id}) }}">wijzig</a></td>
        </tr>
    </table>
{% endblock %}
