{% extends 'base.html.twig' %}

{% block title %}Dag{% endblock %}

{% block body %}
    <table class="table table-small">
        {% if day.date is not null %}
            <tr>
                <td>Datum</td>
                <td>{{ day.date|date('d-M-Y') }}</td>
            </tr>
        {% endif %}
        {% for id, weight in day.foodstuffWeights %}
            <tr>
                <td>{{ weight.foodstuff.name }}</td>
                <td>{{ weight.value|number_format }}
                    {% if weight.foodstuff.pieceName is not null and weight.value >= 2 %}
                        {{ weight.foodstuff.piecesName }}
                    {% elseif weight.foodstuff.pieceName is not null and weight.value < 2 %}
                        {{ weight.foodstuff.pieceName }}
                    {% else %}
                        {{ weight.unit }}
                    {% endif %}</td>
            </tr>
        {% endfor %}
        {% for id, weight in day.recipeWeights %}
            <tr>
                <td>{{ weight.recipe.title }}</td>
                <td>{{ weight.value|number_format }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><a href="{{ path('day_edit', {'id': day.id}) }}">wijzig</a></td>
        </tr>
    </table>
{% endblock %}
