{% extends 'base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block body %}
    {% if isLoggedIn %}
        <div class="modal" id="rate-modal">
            <div class="modal-dialog" id="rate-modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" id="rate-modal-header">
                    </div>
                    <div class="modal-body">
                        <div id="form-errors-client"></div>
                        <div id="form-errors-server">
                            {{ form_errors(form) }}
                            {{ form_errors(form.rating) }}
                        </div>
                        {{ form_start(form) }}
                        <div id="rating-div">
                            {% set count = 9 %}
                            {% for index, choice in form.rating|reverse %}
                                {{ form_widget(choice) }}
                                <label for="rating_rating_{{ count }}">
                                    <i class="far fa-star fa-star-form"> </i></label>
                                {% set count = count - 1 %}
                            {% endfor %}
                        </div>
                        <br>
                        <button class="d-none">Waardeer</button>
                        {{ form_end(form) }}
                        <br>
                        {% if formDelete is not null %}
                            {{ form_start(formDelete) }}
                            {{ form_widget(formDelete.delete, { 'label': 'Verwijder' }) }}
                            {{ form_end(formDelete) }}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <h2>{{ recipe.title }}</h2>
    {% if recipe.imageExtension is not null %}
        <div><img src="{{  asset(recipe.getImagePath(appEnv, 600)) }}" id="recipe-image" class="img-fluid"
                  alt="recipe"></div>
    {% endif %}
    <br>
    <table>
        <thead>
        <tr>
            <th scope="col">Smuldieet waardering</th>
            <th scope="col">&nbsp;&nbsp;Jouw waardering</th>
        </tr>
        </thead>
        <tr><td><div>{% if recipe.rating is null %}
                        N/B
                        <br>
                        <br>
                    {% else %}
                        {{ recipe.rating|number_format(1) }} <i class="fas fa-star fa-star-gold"></i><br>
                        {{ recipe.votes }}
                        {% if recipe.votes == 1 %}
                            stem
                        {% else %}
                            stemmen
                        {% endif %}
                    {% endif %}</div></td>
            <td>{% if isLoggedIn %}
                    <div id="rate-modal-button" class="fw-bold">&nbsp;&nbsp;
                        {% if rating is null %}

                            Waardeer <i class="far fa-star" id="rate-modal-button-star"></i>
                        {% else %}
                            {{ rating.rating }} <i class="fas fa-star" id="rate-modal-button-star"></i>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                {% else %}
                    &nbsp;&nbsp;<a href="{{ path('appLogin') }}" id="rate-recipe-login">Waardeer
                    <i class="far fa-star" id="rate-modal-button-star"></i>
                </a>
                    <br>
                    <br>
                {% endif %}</td></tr>
    </table>
    <br>
    <br>
    <div id="singleRecipe">
        {% if recipe.url is not null %}
            <div class="fw-bold">Url</div>
            {{ recipe.url }}
        {% endif %}
        <div class="fw-bold">Ingrediënten</div>
        {{ recipe.ingredients|nl2br }}
        <div class="fw-bold">Voedingsmiddelen gerecht</div>
        <table class="table">
            {% for id, weight in recipe.foodstuffWeights %}
                <tr><td>{{ recipe.foodstuffs()[id].name }}</td>
                    <td>{{ weight|number_format }} g</td></tr>
            {% endfor %}
            {% for id, weight in recipe.foodstuffChoices %}
                <tr><td>{{ recipe.foodstuffs()[id].name }}</td>
                    <td>{{ weight }} {{ recipe.foodstuffs()[id].pieceName }}</td></tr>
            {% endfor %}
        </table>
        <div class="fw-bold">Bereidingswijze</div>
        {{ recipe.preparationMethod|nl2br }}
        {% if recipe.niceStory is not null %}
            <div class="fw-bold">Vertel iets leuks over dit recept</div>
            {{ recipe.niceStory|nl2br }}
        {% endif %}
        {% if recipe.niceTips is not null %}
            <div class="fw-bold">Leuke tips</div>
            {{ recipe.niceTips|nl2br }}
        {% endif %}
        {% if recipe.toolsAndKitchenware is not null %}
            <div class="fw-bold">Hulpmiddelen en keukengerei</div
            {{ recipe.toolsAndKitchenware|nl2br }}
        {% endif %}
        <div class="fw-bold">Aantal personen</div>
        {{ recipe.numberOfPersons }}
        {% if recipe.numberOfPieces is not null %}
            <div class="fw-bold">Aantal stuks</div>
            {{ recipe.numberOfPieces }}
        {% endif %}
        <div class="fw-bold">Zelf bedacht</div>
        {{ recipe.isSelfInvented ? 'Ja' : 'Nee' }}
        {% if recipe.source is not null %}
            <div class="fw-bold">Bron</div>
            {{ recipe.source }}
        {% endif %}
        <div class="fw-bold">Aantal stemmen</div>
        {{ recipe.votes }}
        <div class="fw-bold">Aantal keer bewaard</div>
        {{ recipe.timesSaved }}
        <div class="fw-bold">Aantal reacties</div>
        {{ recipe.timesReacted }}
        <div class="fw-bold">Bereidingstijd</div>
        {{ recipe.cookingTime }}
        <div class="fw-bold">Keuken</div>
        {{ recipe.kitchen }}
        <div class="fw-bold">Soort gerecht</div>
        {{ recipe.typeOfDish }}
        {% if recipe.occasion is not null %}
            <div class="fw-bold">Gelegenheid</div>
            {{ recipe.occasion }}
        {% endif %}
        <br>
        <br>
        {% for key, choice in constant('DIET_CHOICES', recipe)  %}
            {% if attribute(recipe, choice) == 1 %}
                <div>{{ key }}</div>
            {% endif %}
        {% endfor %}
        <br>
        {% if currentUserId == recipe.user.id %}
            <div><a href="{{ path('recipeEdit', {'id': recipe.id}) }}">wijzig</a></div>
        {% endif %}
    </div>
{% endblock %}
