{% extends 'base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="flash-notice-error">
            {{ message }}
        </div>
    {% endfor %}
    {% if isLoggedIn %}
        <div id="form-errors-client"></div>
        <div id="form-errors-server">
            {{ form_errors(form) }}
            {{ form_errors(form.rating,) }}
            {{ form_errors(form.content) }}
        </div>
        {{ form_start(form) }}
        <table class="table table-small">
            <tr><td>Waardering</td><td>{{ form_widget(form.rating, {'id': 'rating-rating'}) }}</td>
            <tr><td>Review</td><td>{{ form_widget(form.content, {'id': 'rating-content'}) }}</td>
            <tr><td colspan="2">{{ form_widget(form.submit, { 'label': 'Waardeer' }) }}</td>
            </tr>
        </table>
        {{ form_end(form) }}
        {% if formDelete is not null %}
            {{ form_start(formDelete) }}
            {{ form_widget(formDelete.delete, { 'label': 'Verwijder' }) }}
            {{ form_end(formDelete) }}
        {% endif %}
    {% endif %}
    <table class="table table-small">
        <tr><td colspan="2">
                {% if recipe.imageExtension is not null %}
                    <img src="{{  asset(recipe.getImagePath(appEnv, 600)) }}" id="recipe-image" class="img-fluid"
                         alt="recipe">
                {% endif %}
            </td></tr>
        <tr><td>Titel</td><td>{{ recipe.title }}</td></tr>
        <tr><td>Url</td><td>{{ recipe.url }}</td></tr>
        <tr><td>Ingrediënten</td><td>{{ recipe.ingredients }}</td></tr>
        <tr><td colspan="2"><h4 class="no-wrap">Voedingsmiddelen gerecht</h4></td></tr>
        <tr>
            <td>
                {% for rowNumber, foodstuff in recipe.foodstuffs %}
                    <div class="no-wrap">{{ foodstuff.name }}</div>
                {% endfor %}
            </td><td>
                {% for rowNumber, foodstuff in recipe.foodstuffs %}
                    <div>{{ recipe.foodstuffWeights[foodstuff.id]|number_format }} g</div>
                {% endfor %}
            </td>
        </tr>
        <tr><td>Bereidingswijze</td><td>{{ recipe.preparationMethod }}</td></tr>
        <tr><td>Vertel iets leuks over dit recept</td><td>{{ recipe.niceStory }}</td></tr>
        <tr><td>Leuke tips</td><td>{{ recipe.niceTips }}</td></tr>
        <tr><td>Hulpmiddelen en keukengerei</td><td>{{ recipe.toolsAndKitchenware }}</td></tr>
        <tr><td>Aantal personen</td><td>{{ recipe.numberOfPersons }}</td></tr>
        <tr><td>Aantal stuks</td><td>{{ recipe.numberOfPieces }}</td></tr>
        <tr><td>Zelf bedacht</td><td>{{ recipe.isSelfInvented }}</td></tr>
        {% if recipe.rating is null %}
            <tr><td>Waardering</td><td>N/B</td></tr>
        {% else %}
            <tr><td>Waardering</td><td>{{ recipe.rating|number_format(1) }} <i class="fas fa-star"></i></td></tr>
        {% endif %}
        <tr><td>Aantal stemmen</td><td>{{ recipe.votes }}</td></tr>
        <tr><td>Aantal keer bewaard</td><td>{{ recipe.timesSaved }}</td></tr>
        <tr><td>Aantal reacties</td><td>{{ recipe.timesReacted }}</td></tr>
        <tr><td>Bereidingstijd</td><td>{{ recipe.cookingTime }}</td></tr>
        <tr><td>Keuken</td><td>{{ recipe.kitchen }}</td></tr>
        <tr><td>Soort gerecht</td><td>{{ recipe.typeOfDish }}</td></tr>
        <tr><td>Gelegenheid</td><td>{{ recipe.occasion }}</td></tr>
        {% for key,choice in constant('DIET_CHOICES', recipe)  %}
            <tr><td>{{ key }}</td><td>{{ attribute(recipe, choice) == 1 ? 'Ja' : '' }}</td></tr>
        {% endfor %}
        {% if currentUserId == recipe.user.id %}
            <tr><td colspan="2"><a href="{{ path('recipeEdit', {'id': recipe.id}) }}">wijzig</a></td></tr>
        {% endif %}
    </table>
{% endblock %}
