{% extends 'base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="flash-notice-error">
            {{ message }}
        </div>
    {% endfor %}
    {% if isLoggedIn %}
        <div id="form-errors-client"></div>
        <div id="form-errors-server">
            {{ form_errors(form) }}
            {{ form_errors(form.rating,) }}
        </div>
        {{ form_start(form) }}
        <table class="table table-small">
            <tr><td>Waardering{{ form_widget(form.rating, {'id': 'rating-rating'}) }}</td></tr>
            <tr><td colspan="2">{{ form_widget(form.submit, { 'label': 'Waardeer' }) }}</td></tr>
        </table>
        {{ form_end(form) }}
        {% if formDelete is not null %}
            {{ form_start(formDelete) }}
            {{ form_widget(formDelete.delete, { 'label': 'Verwijder' }) }}
            {{ form_end(formDelete) }}
        {% endif %}
        <a href="{{ path('recipeRatingCreate', {'recipeId': recipe.id}) }}">Schrijf een review</a>
    {% endif %}
    {% if recipe.imageExtension is not null %}
        <div><img src="{{  asset(recipe.getImagePath(appEnv, 600)) }}" id="recipe-image" class="img-fluid"
             alt="recipe"></div>
    {% endif %}
    <div id="singleRecipe">
        <div class="recipeSingleProperty">Titel</div>
        {{ recipe.title }}
        <div class="recipeSingleProperty">Url</div>
        {{ recipe.url }}
        <div class="recipeSingleProperty">Ingrediënten</div>
        {{ recipe.ingredients }}
        <div class="recipeSingleProperty">Voedingsmiddelen gerecht</div>
        <table class="table">
            {% for rowNumber, foodstuff in recipe.foodstuffs %}
                <tr><td>{{ foodstuff.name }}</td>
                    <td>{{ recipe.foodstuffWeights[foodstuff.id]|number_format }} g</td></tr>
            {% endfor %}
        </table>
        <div class="recipeSingleProperty">Bereidingswijze</div>
        {{ recipe.preparationMethod }}
        <div class="recipeSingleProperty">Vertel iets leuks over dit recept</div>
        {{ recipe.niceStory }}
        <div class="recipeSingleProperty">Leuke tips</div>
        {{ recipe.niceTips }}
        <div class="recipeSingleProperty">Hulpmiddelen en keukengerei</div
        {{ recipe.toolsAndKitchenware }}
        <div class="recipeSingleProperty">Aantal personen</div>
        {{ recipe.numberOfPersons }}
        <div class="recipeSingleProperty">Aantal stuks</div>
        {{ recipe.numberOfPieces }}
        <div class="recipeSingleProperty">Zelf bedacht</div>
        {{ recipe.isSelfInvented }}
        <div class="recipeSingleProperty">Waardering</div>
        {% if recipe.rating is null %}
            N/B
        {% else %}
            {{ recipe.rating|number_format(1) }} <i class="fas fa-star"></i>
        {% endif %}
        <div class="recipeSingleProperty">Aantal stemmen</div>
        {{ recipe.votes }}
        <div class="recipeSingleProperty">Aantal keer bewaard</div>
        {{ recipe.timesSaved }}
        <div class="recipeSingleProperty">Aantal reacties</div>
        {{ recipe.timesReacted }}
        <div class="recipeSingleProperty">Bereidingstijd</div>
        {{ recipe.cookingTime }}
        <div class="recipeSingleProperty">Keuken</div>
        {{ recipe.kitchen }}
        <div class="recipeSingleProperty">Soort gerecht</div>
        {{ recipe.typeOfDish }}
        <div class="recipeSingleProperty">Gelegenheid</div>
        {{ recipe.occasion }}
        {% for key, choice in constant('DIET_CHOICES', recipe)  %}
            {% if attribute(recipe, choice) == 1 %}
                {{ key }}
            {% endif %}
        {% endfor %}
        {% if currentUserId == recipe.user.id %}
            <a href="{{ path('recipeEdit', {'id': recipe.id}) }}">wijzig</a>
        {% endif %}
    </div>
{% endblock %}
