<div id="formErrorsClient"></div>
<div id="formErrorsServer">
    {% include 'foodstuff/error.html.twig' %}
    {{ form_errors(form.user) }}
</div>
{{ form_start(form) }}
<table class="createUpdateTable">
    <tr><td>Naam</td><td>{{ form_widget(form.name) }}</td></tr>
    <tr><td>Gebruiker</td><td>{{ form_widget(form.user) }}</td></tr>
    {% for key,property in foodstuff.aDH() %}
        <tr><td>{{ property[3] }}</td><td>{{ form_widget(attribute(form, key)) }}</td></tr>
    {% endfor %}
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
