<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{% block title %}{% endblock %}</title>
    {{ include('_head.html.twig') }}
    <link rel="stylesheet" href="{{ asset('/css/admin.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar_supported_content"
                aria-controls="navbar_supported_content"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar_supported_content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li><a href="{{ path('admin_homepage') }}">Home</a></li>
                <li><a href="{{ path('admin_page') }}">Pagina's</a></li>
                <li><a href="{{ path('admin_user') }}">Gebruikers</a></li>
                <li><a href="{{ path('admin_foodstuff') }}">Voedingsmiddelen</a></li>
                <li><a href="{{ path('admin_recipe') }}">Recepten</a></li>
                <li><a href="{{ path('admin_rating') }}">Recensies</a></li>
                <li><a href="{{ path('admin_profanity') }}">Scheldwoorden</a></li>
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('/js/FoodForm.min.js') }}"></script>
<script src="{{ asset('/js/app.min.js') }}"></script>
<script src="{{ asset('/js/admin.min.js') }}"></script>
{% block javascripts %}
{% endblock %}
</body>
</html>
