{% extends '@UserBundle/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if user.imageExtension is not null %}
        <img src="{{ asset(user.imageUrl) }}" id="user-panel-avatar" alt="Image">
    {% endif %}
    <h3>Welkom {{ user.username }}</h3>
    {% for message in app.flashes('user_form_exception') %}
        <div class="error-message">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    <table class="table table-small">
        <tr>
            <td><div id="upload_file_button" class="btn btn-primary">Upload foto</div>
                {{ form_widget(form.image) }}</td>
        </tr>
        <tr>
            <td>Voornaam</td><td>{{ form_widget(form.first_name) }}</td>
        </tr>
        <tr>
            <td>Achternaam</td><td>{{ form_widget(form.last_name) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_widget(form.submit, { 'label': 'Wijzig' }) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
