<div id="form_errors_client"></div>
<div id="form_errors_server">
    {{ form_errors(form) }}
    {% if form.user is defined %}
        {{ form_errors(form.user) }}
    {% endif %}
    {{ form_errors(form.name) }}
    {{ form_errors(form.piece_name) }}
    {{ form_errors(form.pieces_name) }}
    {{ form_errors(form.piece_weight) }}
    {{ form_errors(form.is_liquid) }}
    {{ form_errors(form.density) }}
    {% for key,property in foodstuff.nutrients('snake') %}
        {{ form_errors(attribute(form, key)) }}
    {% endfor %}
</div>
<p>Nu het voedingsmiddel gemaakt is uit andere voedingsmiddelen kun je nog de voedingswaarden op het etiket invullen
    voor jouw voedingsmiddel.</p>
{{ form_start(form) }}
<table class="foodstuff-recipe-table table table-small">
    {% if form.user is defined %}
        <tr>
            <td>Gebruiker</td>
            <td>{{ form_widget(form.user) }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>Naam</td>
        <td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <td>Gewicht per stuk</td>
        <td>{{ form_widget(form.piece_weight) }}</td>
    </tr>
    <tr>
        <td>Naam per stuk enkelvoud</td>
        <td>{{ form_widget(form.piece_name) }}</td>
    </tr>
    <tr>
        <td>Naam per stuk meervoud</td>
        <td>{{ form_widget(form.pieces_name) }}</td>
    </tr>
    <tr>
        <td>Vloeibaar</td>
        <td>{{ form_widget(form.is_liquid) }}</td>
    </tr>
    <tr>
        <td>Dichtheid kg/l</td>
        <td>{{ form_widget(form.density) }}</td>
    </tr>
    {% for key,nutrient in foodstuff.nutrients('snake') %}
        <tr>
            <td>{{ nutrient.nameNL }} {{ nutrient.unit }}</td>
            <td>{{ form_widget(attribute(form, key)) }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">{{ form_widget(form.submit, { 'label': submit_label }) }}</td>
    </tr>
</table>
{{ form_end(form) }}
