{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {{ page is not null ? page.content|raw : '' }}
    <div id="form_errors_client"></div>
    <div id="form_errors_server">
        {{ form_errors(form) }}
        {{ form_errors(form.start) }}
        {{ form_errors(form.end) }}
    </div>
    {{ form_start(form) }}
    <table class="table table-small">
        <thead>
        <tr>
            <th scope="col">Begin datum</th>
            <th scope="col">Eind datum</th>
        </tr>
        </thead>
        <tr>
            <td>{{ form_widget(form.start) }}</td>
            <td>{{ form_widget(form.end) }}</td>
        </tr>
        <tr>
            <td colspan="2">{{ form_widget(form.submit, { 'label': 'Bekijk' }) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
    {% if nutrients is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Voedingsstof en eenheid</th>
                <th scope="col">Min ADH</th>
                <th scope="col">Max ADH</th>
                <th scope="col">Feitelijk</th>
            </tr>
            </thead>
            <tbody>
            {% for nutrient in nutrients %}
                <tr>
                    <td>{{ nutrient.displayName }} {{ nutrient.unit }}</td>
                    <td>{{ nutrient.minRDA }}</td>
                    {% if nutrient.maxRDA is null %}
                        <td>N/B</td>
                    {% else %}
                        <td>{{ nutrient.maxRDA }}</td>
                    {% endif %}
                    <td>{{ nutrient.realised|number_format(nutrient.decimalPlaces) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif isSubmitted %}
        <p>Geen dagen gevonden tussen deze twee datums.</p>
    {% endif %}
{% endblock %}
