{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {{ page is not null ? page.content|raw : '' }}
    <div id="form-errors-client"></div>
    <div id="form-errors-server">
        {{ form_errors(form) }}
        {{ form_errors(form.start) }}
        {{ form_errors(form.end) }}
    </div>
    {{ form_start(form, {'attr': {'id': 'overview-form'}}) }}
    <table class="table table-small">
        <thead>
        <tr>
            <th scope="col">Begin datum</th>
            <th scope="col">Eind datum</th>
        </tr>
        </thead>
        <tr><td>{{ form_widget(form.start) }}</td><td>{{ form_widget(form.end) }}</td></tr>
        <tr><td colspan="2">{{ form_widget(form.submit, { 'label': 'Bekijk' }) }}</td></tr>
    </table>
    {{ form_end(form) }}
    {% if stats is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Min</th>
                <th scope="col">Max</th>
                <th scope="col">Feitelijk</th>
            </tr>
            </thead>
            <tbody>
            {% for key,property in stats %}
                <tr><td>{{ property[3] }} {{ property[2] }}</td><td>{{ property[0] }}</td><td>{{ property[1] }}</td>
                    <td>{{ property[5]|number_format(property[4]) }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif isSubmitted %}
        <p>Geen dagen gevonden tussen deze twee datums.</p>
    {% endif %}
{% endblock %}
