{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('mustVerify') %}
        <div class="flash-notice-must-verify">
            {{ message }}
        </div>
    {% endfor %}
    <div>
        <i id="recipeFilterIcon" class="fas fa-sliders-h"></i>
    </div>

    <div id="formErrorsClient"></div>
    <div id="formErrorsServer">
        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.numberOfPersons) }}
        {{ form_errors(form.numberOfPieces) }}
        {{ form_errors(form.votes) }}
        {{ form_errors(form.cookingTime) }}
        {{ form_errors(form.kitchen) }}
        {{ form_errors(form.typeOfDish) }}
        {{ form_errors(form.occasion) }}
        {{ form_errors(form.isSelfInvented) }}
        {% for key,choice in dietChoices %}
            {{ form_errors(attribute(form, choice)) }}
        {% endfor %}
        {{ form_errors(form.sort) }}
    </div>
    {% if isFiltered %}
        {{ form_start(form, {'attr': {'id': 'filter-sort-form'}}) }}
    {% else %}
        {{ form_start(form, {'attr': {'id': 'filter-sort-form', 'class': 'd-none'}}) }}
    {% endif %}
    {{ form_widget(form.title) }}
    {{ form_widget(form.numberOfPersons) }}
    {{ form_widget(form.numberOfPieces) }}
    {{ form_widget(form.votes) }}
    {{ form_widget(form.cookingTime) }}
    {{ form_widget(form.kitchen) }}
    {{ form_widget(form.typeOfDish) }}
    {{ form_widget(form.occasion) }}
    {{ form_widget(form.isSelfInvented) }}
    {% for key,choice in dietChoices %}
        {{ key }} {{ form_widget(attribute(form, choice)) }}
    {% endfor %}
    {{ form_widget(form.sort) }}
    {{ form_widget(form.show, { 'label': 'Toon' }) }}
    {{ form_end(form) }}
    {{ page.content|raw }}
    <table class="table table-striped">
        {% for recipe in paginator.results %}
            <tr>
                <td class="d-none d-lg-table-cell">
                    {% if recipe.imageExtension is not null %}
                        <img src="{{ asset(recipe.getImagePath(appEnv)) }}"
                             alt="label" class="recipe-image">
                    {% endif %}
                </td>
                <td><a href="{{ path('recipeSingle', {'id': recipe.id}) }}">{{ recipe.title }}</a></td>
                {% if recipe.rating is null %}
                    <td><span class="nowrap">N/B</span></td>
                {% else %}
                    <td>
                        <span class="nowrap">{{ recipe.rating|number_format(1) }} <i class="fas fa-star"></i></span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {{ include('pagination/view.html.twig', {route: 'homepageIndexPaginated'}) }}
{% endblock %}
