{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash-notice-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('mustVerify') %}
        <div class="flash-notice-must-verify">
            {{ message }}
        </div>
    {% endfor %}
    {{ page.content|raw }}
    <h3>Recente recepten</h3>
    <div>
        <i id="recipe-filter-icon" class="fas fa-sliders-h"></i>
    </div>
    <div id="form-errors-client"></div>
    <div id="form-errors-server">
        {{ form_errors(form) }}
        {{ form_errors(form.title) }}
        {{ form_errors(form.numberOfPersons) }}
        {{ form_errors(form.numberOfPieces) }}
        {{ form_errors(form.votes) }}
        {{ form_errors(form.cookingTime) }}
        {{ form_errors(form.kitchen) }}
        {{ form_errors(form.typeOfDish) }}
        {{ form_errors(form.occasion) }}
        {{ form_errors(form.isSelfInvented) }}
        {% for key,choice in dietChoices %}
            {{ form_errors(attribute(form, choice)) }}
        {% endfor %}
        {{ form_errors(form.sort) }}
    </div>
    {% if isFiltered %}
        {{ form_start(form, {'attr': {'id': 'filter-sort-form'}}) }}
    {% else %}
        {{ form_start(form, {'attr': {'id': 'filter-sort-form', 'class': 'd-none'}}) }}
    {% endif %}
    <table class="table">
        <tr><td>{{ form_widget(form.title) }}</td></tr>
        <tr><td>{{ form_widget(form.numberOfPersons) }}</td></tr>
        <tr><td>{{ form_widget(form.numberOfPieces) }}</td></tr>
        <tr><td>{{ form_widget(form.votes) }}</td></tr>
        <tr><td>{{ form_widget(form.cookingTime) }}</td></tr>
        <tr><td>{{ form_widget(form.kitchen) }}</td></tr>
        <tr><td>{{ form_widget(form.typeOfDish) }}</td></tr>
        <tr><td>{{ form_widget(form.occasion) }}</td></tr>
        <tr><td>{{ form_widget(form.isSelfInvented) }}</td></tr>
        <tr><td><div class="dropdown">
                    <button class="dropdown-toggle form-control" id="diet-filter"
                            value="test" data-bs-toggle="dropdown" aria-expanded="false">Selecteer dieet</button>
                    <table class="dropdown-menu dropdown-diet" aria-labelledby="diet-filter">
                        {% for key,choice in dietChoices %}
                            <tr><td><label class="form-check-label"
                                           for="diet{{ key|replace({' ':''}) }}">{{ key }}</label></td>
                                <td>{{ form_widget(attribute(form, choice),
                                        {'id': 'diet'~key|replace({' ':''})}) }}</td></tr>
                        {% endfor %}
                    </table>
                </div></td></tr>
        <tr><td> {{ form_widget(form.sort) }}</td></tr>
        <tr><td>{{ form_widget(form.show, { 'label': 'Toon' }) }}</td></tr>
    </table>
    {{ form_end(form) }}
    <table class="table table-striped" id="recipes-homepage">
        {% for recipe in paginator.results %}
            <tr>
                <td>
                    {% if recipe.imageExtension is not null %}
                        <img src="{{ asset(recipe.getImagePath(appEnv, 100)) }}"
                             alt="label" class="recipe-image">
                    {% endif %}
                </td>
                <td><a href="{{ path('recipeSingle', {'id': recipe.id}) }}">{{ recipe.title }}</a></td>
                {% if recipe.rating is null %}
                    <td><span class="nowrap"></span></td>
                {% else %}
                    <td>
                        <span class="nowrap">{{ recipe.rating|number_format(1) }} <i class="fas fa-star"></i></span>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {{ include('pagination/view.html.twig', {route: 'homepageIndexPaginated'}) }}
{% endblock %}
