{% extends '@UserBundle/base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {{ page is not null ? page.content|raw : '' }}
    <a href="{{ path('user_cookbook_create') }}">Maak een kookboek</a>
    {% if cookbooks is empty %}
        <p>Je hebt nog geen kookboeken gemaakt.</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Wijzig</th>
            </tr>
            </thead>
            {% for cookbook in cookbooks %}
                <tr>
                    <td><a href="{{ path('user_cookbook_single', {'id': cookbook.id}) }}">{{ cookbook.title }}</a></td>
                    <td><a href="{{ path('user_cookbook_edit', {'id': cookbook.id }) }}">wijzig</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
