<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.pending) }}
</div>
{{ form_start(form) }}
<div class="recipeSingleProperty">Content</div>
{{ rating.content }}
<div class="recipeSingleProperty">Wacht op goedkeuring</div>
{{ form_widget(form.pending) }}
<div class="recipeSingleProperty">{{ form_widget(form.submit, { 'label': submitLabel }) }}</div>
{{ form_end(form) }}
