<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.pending) }}
</div>
{{ form_start(form) }}
<table class="table table-small">
    <tr><td>Content</td><td>{{ rating.content }}</td></tr>
    <tr><td>Wacht op goedkeuring</td><td>{{ form_widget(form.pending) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
