<div id="form_errors_client"></div>
<div id="form_errors_server">
    {{ form_errors(form) }}
    {{ form_errors(form.image) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.url) }}
    {{ form_errors(form.ingredients) }}
    {{ form_errors(form.nice_story) }}
    {{ form_errors(form.nice_tips) }}
    {{ form_errors(form.tools_and_kitchenware) }}
    {{ form_errors(form.preparation_method) }}
    {{ form_errors(form.number_of_persons) }}
    {{ form_errors(form.number_of_pieces) }}
    {{ form_errors(form.is_self_invented) }}
    {{ form_errors(form.source) }}
    {{ form_errors(form.cooking_time) }}
    {{ form_errors(form.kitchen) }}
    {{ form_errors(form.type_of_dish) }}
    {{ form_errors(form.occasion) }}
    {{ form_errors(form.foodstuff_weights) }}
    {{ form_errors(form.foodstuff_choices) }}
    {% for choice,label in recipe.dietChoices('snake') %}
        {{ form_errors(attribute(form, choice)) }}
    {% endfor %}
</div>
{{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
{{ page is not null ? page.content|raw : '' }}
<div id="upload_file_button" class="btn btn-primary">Upload afbeelding</div>
{{ form_widget(form.image) }}
<div class="fw-bold">Titel *</div>
{{ form_widget(form.title) }}
<div class="fw-bold">Url video</div>
{{ form_widget(form.url) }}
<div class="fw-bold">Ingrediënten *</div>
{{ form_widget(form.ingredients) }}
<h4 class="no-wrap">Voedingsmiddelen gerecht</h4>
<table class="table">
    {{ include('_food_row.html.twig', {
        'form_name': 'recipe',
        'entities': recipe.foodstuffs,
        'weights': form.foodstuff_weights,
        'food_type': 'foodstuff',
        'weights_or_choices': 'weights',
        'placeholder': 'voedingsmiddel'
    }) }}
    {{ include('_food_row.html.twig', {
        'form_name': 'recipe',
        'entities': recipe.foodstuffs,
        'weights': form.foodstuff_choices,
        'food_type': 'foodstuff',
        'weights_or_choices': 'choices',
        'placeholder': 'voedingsmiddel'
    }) }}
    <tr id="add_foodstuff_recipe_button_row">
        <td colspan="4"><div class="btn btn-primary" id="add_foodstuff">Voedingsmiddel toevoegen</div></td>
    </tr>
</table>
<div class="fw-bold">Bereidingswijze *</div>
{{ form_widget(form.preparation_method) }}
<div class="fw-bold">Vertel iets leuks over dit recept</div>
{{ form_widget(form.nice_story) }}
<div class="fw-bold">Leuke tips</div>
{{ form_widget(form.nice_tips) }}
<div class="fw-bold">Hulpmiddelen en keukengerei</div>
{{ form_widget(form.tools_and_kitchenware) }}
<div class="fw-bold">Aantal personen *</div>
{{ form_widget(form.number_of_persons) }}
<div class="fw-bold">Aantal stuks</div>
{{ form_widget(form.number_of_pieces) }}
<div class="fw-bold">Zelf bedacht *</div>
{{ form_widget(form.is_self_invented) }}
{% if form.is_self_invented.vars.value == 0 %}
    <div class="fw-bold" id="recipe_source_title">Bron</div>
    {{ form_widget(form.source) }}
{% else %}
    <div class="fw-bold d-none" id="recipe_source_title">Bron</div>
    {{ form_widget(form.source, {'attr': {'class': 'd-none form-control'}}) }}
{% endif %}
<div class="fw-bold">Bereidingstijd *</div>
{{ form_widget(form.cooking_time) }}
<div class="fw-bold">Keuken *</div>
{{ form_widget(form.kitchen) }}
<div class="fw-bold">Soort gerecht *</div>
{{ form_widget(form.type_of_dish) }}
<div class="fw-bold">Gelegenheid</div>
{{ form_widget(form.occasion) }}
<br>
<div class="dropdown">
    <div class="form-control form-select" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">Dieet</div>
    <table class="dropdown-menu dropdown-diet" aria-labelledby="diet-filter">
        {% for choice,label in recipe.dietChoices('snake') %}
            <tr>
                <td>{{ form_label(attribute(form, choice)) }}</td>
                <td>{{ form_widget(attribute(form, choice)) }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<br>
<span class="fw-bold">*</span> Verplicht
<br>
<br>
{{ form_widget(form.submit, { 'label': submit_label }) }}
{{ form_end(form) }}
