<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.image) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.url) }}
    {{ form_errors(form.ingredients) }}
    {{ form_errors(form.niceStory) }}
    {{ form_errors(form.niceTips) }}
    {{ form_errors(form.toolsAndKitchenware) }}
    {{ form_errors(form.preparationMethod) }}
    {{ form_errors(form.numberOfPersons) }}
    {{ form_errors(form.numberOfPieces) }}
    {{ form_errors(form.isSelfInvented) }}
    {{ form_errors(form.source) }}
    {{ form_errors(form.cookingTime) }}
    {{ form_errors(form.kitchen) }}
    {{ form_errors(form.typeOfDish) }}
    {{ form_errors(form.occasion) }}
    {% for key,choice in constant('DIET_CHOICES', recipe) %}
        {{ form_errors(attribute(form, choice)) }}
    {% endfor %}
</div>
{{ form_start(form, { 'attr' : { 'class': 'foodstuff-recipe-form' }}) }}
{{ page is not null ? page.content|raw : '' }}
<table class="foodstuff-recipe-table table table-small">
    <tr><td colspan="3"><button id="uploadFileButton" class="btn btn-primary">Upload afbeelding</button>
            {{ form_widget(form.image) }}</td></tr>
    <tr><td>Titel *</td><td colspan="2">{{ form_widget(form.title) }}</td></tr>
    <tr><td>Url video</td><td colspan="2">{{ form_widget(form.url) }}</td></tr>
    <tr><td>Ingrediënten</td><td colspan="2">{{ form_widget(form.ingredients) }}</td></tr>
    {% set row = 4 %}
    {% for key, weight in form.foodstuffWeights %}
        {% set foodstuffId = weight.vars.id|split('_')|last %}
        {% set foodstuff = recipe.foodstuffs()[foodstuffId] %}
        {{ include('foodstuffRow.html.twig', {'rowId': row, 'formName': 'recipe',
            'entity': recipe, 'id': foodstuff.id, 'name': foodstuff.name,
            'weight': weight}) }}
        {% set row = row + 1 %}
    {% endfor %}
    <tr id="add-foodstuff-recipe-button-row"><td colspan="3">
            <button class="btn btn-primary" id="add-foodstuff">Voedingsmiddel toevoegen</button></td></tr>
    <tr><td>Bereidingswijze *</td><td colspan="2">{{ form_widget(form.preparationMethod) }}</td></tr>
    <tr><td>Vertel iets leuks over dit recept</td><td colspan="2">{{ form_widget(form.niceStory) }}</td></tr>
    <tr><td>Leuke tips</td><td colspan="2">{{ form_widget(form.niceTips) }}</td></tr>
    <tr><td>Hulpmiddelen en keukengerei</td><td colspan="2">{{ form_widget(form.toolsAndKitchenware) }}</td></tr>
    <tr><td>Aantal personen *</td><td colspan="2">{{ form_widget(form.numberOfPersons) }}</td></tr>
    <tr><td>Aantal stuks</td><td colspan="2">{{ form_widget(form.numberOfPieces) }}</td></tr>
    <tr><td colspan="3">{{ form_widget(form.isSelfInvented, {'id':'recipe-is-self-invented'}) }} *</td></tr>
    <tr id="recipe-source"><td>Bron</td><td colspan="2">{{ form_widget(form.source) }}</td></tr>
    <tr><td>Bereidingstijd *</td><td colspan="2">{{ form_widget(form.cookingTime) }}</td></tr>
    <tr><td>Keuken *</td><td colspan="2">{{ form_widget(form.kitchen) }}</td></tr>
    <tr><td>Soort gerecht *</td><td colspan="2">{{ form_widget(form.typeOfDish) }}</td></tr>
    <tr><td>Gelegenheid</td><td colspan="2">{{ form_widget(form.occasion) }}</td></tr>
    <tr class="dropdown"><td colspan="3">
        <button class="dropdown-toggle form-control" id="diet-filter"
                value="test" data-bs-toggle="dropdown" aria-expanded="false">Selecteer dieet</button>
        <table class="dropdown-menu dropdown-diet" aria-labelledby="diet-filter">
            {% for key,choice in constant('DIET_CHOICES', recipe) %}
                <tr><td><label class="form-check-label" for="diet{{ key|replace({' ':''}) }}">{{ key }}</label></td>
                    <td>{{ form_widget(attribute(form, choice), {'id': 'diet'~key|replace({' ':''})}) }}</td></tr>
            {% endfor %}
        </table></td>
    </tr>
    <tr><td colspan="3">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_widget(form._token) }}
{{ form_end(form, {render_rest: false}) }}
