<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.image) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.url) }}
    {{ form_errors(form.ingredients) }}
    {{ form_errors(form.niceStory) }}
    {{ form_errors(form.niceTips) }}
    {{ form_errors(form.toolsAndKitchenware) }}
    {{ form_errors(form.preparationMethod) }}
    {{ form_errors(form.numberOfPersons) }}
    {{ form_errors(form.numberOfPieces) }}
    {{ form_errors(form.isSelfInvented) }}
    {{ form_errors(form.source) }}
    {{ form_errors(form.cookingTime) }}
    {{ form_errors(form.kitchen) }}
    {{ form_errors(form.typeOfDish) }}
    {{ form_errors(form.occasion) }}
    {{ form_errors(form.foodstuffWeights) }}
    {{ form_errors(form.foodstuffNumberOfPieces) }}
    {% for key,choice in constant('DIET_CHOICES', recipe) %}
        {{ form_errors(attribute(form, choice)) }}
    {% endfor %}
</div>
{{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
{{ page is not null ? page.content|raw : '' }}
<div id="uploadFileButton" class="btn btn-primary">Upload afbeelding</div>
{{ form_widget(form.image) }}
<div class="fw-bold">Titel *</div>
{{ form_widget(form.title) }}
<div class="fw-bold">Url video</div>
{{ form_widget(form.url) }}
<div class="fw-bold">Ingrediënten *</div>
{{ form_widget(form.ingredients) }}
<h4 class="no-wrap">Voedingsmiddelen gerecht</h4>
<table class="table">
    {{ include('foodRow.html.twig', {'formName': 'recipe', 'entities': recipe.foodstuffs,
        'weights': form.foodstuffWeights, 'foodType': 'foodstuff', 'weightsOrPieces': 'Weights'}) }}
    {{ include('foodRow.html.twig', {'formName': 'recipe', 'entities': recipe.foodstuffs,
        'weights': form.foodstuffNumberOfPieces, 'foodType': 'foodstuff', 'weightsOrPieces': 'NumberOfPieces'}) }}
    <tr id="add-foodstuff-recipe-button-row"><td colspan="4">
            <div class="btn btn-primary" id="add-foodstuff">Voedingsmiddel toevoegen</div></td></tr>
</table>
<div class="fw-bold">Bereidingswijze *</div>
{{ form_widget(form.preparationMethod) }}
<div class="fw-bold">Vertel iets leuks over dit recept</div>
{{ form_widget(form.niceStory) }}
<div class="fw-bold">Leuke tips</div>
{{ form_widget(form.niceTips) }}
<div class="fw-bold">Hulpmiddelen en keukengerei</div>
{{ form_widget(form.toolsAndKitchenware) }}
<div class="fw-bold">Aantal personen *</div>
{{ form_widget(form.numberOfPersons) }}
<div class="fw-bold">Aantal stuks</div>
{{ form_widget(form.numberOfPieces) }}
<div class="fw-bold">Zelf bedacht *</div>
{{ form_widget(form.isSelfInvented) }}
<div class="fw-bold" id="recipe-source">Bron</div>
{{ form_widget(form.source) }}
<div class="fw-bold">Bereidingstijd *</div>
{{ form_widget(form.cookingTime) }}
<div class="fw-bold">Keuken *</div>
{{ form_widget(form.kitchen) }}
<div class="fw-bold">Soort gerecht *</div>
{{ form_widget(form.typeOfDish) }}
<div class="fw-bold">Gelegenheid</div>
{{ form_widget(form.occasion) }}
<br>
<div class="dropdown">
    <div class="form-control form-select" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">Selecteer dieet</div>
    <table class="dropdown-menu dropdown-diet" aria-labelledby="diet-filter">
        {% for key,choice in constant('DIET_CHOICES', recipe) %}
            <tr><td><label class="form-check-label" for="diet{{ key|replace({' ':''}) }}">{{ key }}</label></td>
                <td>{{ form_widget(attribute(form, choice), {'id': 'diet'~key|replace({' ':''})}) }}</td></tr>
        {% endfor %}
    </table>
</div>
<br>
<span class="fw-bold">*</span> Verplicht
<br>
<br>
{{ form_widget(form.submit, { 'label': submitLabel }) }}
{{ form_end(form) }}
