{% extends 'base.html.twig' %}

{% block title %}Recept{% endblock %}

{% block body %}
    {% if isLoggedIn %}
        {{ include('rating/_rating_modal.html.twig') }}
    {% endif %}
    <h2>{{ recipe.title }}</h2>
    {% if recipe.imageExtension is not null %}
        <div>
            <img src="{{  asset(recipe.getImageUrl(600)) }}"
                 id="recipe_image"
                 class="img-fluid"
                 alt="recipe">
        </div>
    {% endif %}
    <span class="no-wrap">
        <i class="far fa-clock"></i>
        {{ recipe.cookingTime }}
        <img src="{{ asset('/img/kitchen.png') }}" id="kitchen_icon" alt="kitchen" width="28">
        {{ recipe.kitchen }}
    </span>
    <span class="no-wrap">
        <img src="{{ asset('/img/knife-fork.png') }}" id="knife_fork_icon" alt="knife-fork" width="25">
        {{ recipe.typeOfDish }}
        <i class="far fa-user"></i>
        {{ recipe.numberOfPersons }}
    </span>
    <div id="form_errors_client"></div>
    {% if formLoseRecipe is not null %}
        <div id="form_errors_server">
            {{ form_errors(formLoseRecipe) }}
        </div>
        {{ form_start(formLoseRecipe) }}
        {{ form_widget(formLoseRecipe.submit, { 'label': 'Verwijder' }) }}
        {{ form_end(formLoseRecipe) }}
    {% elseif formSaveRecipe is not null %}
        <div id="form_errors_server">
            {{ form_errors(formSaveRecipe) }}
        </div>
        {{ form_start(formSaveRecipe) }}
        {{ form_widget(formSaveRecipe.submit, { 'label': 'Bewaar' }) }}
        {{ form_end(formSaveRecipe) }}
    {% endif %}
    <br>
    <br>
    <table>
        <thead>
        <tr>
            <th scope="col">Smuldieet waardering</th>
            <th scope="col">&nbsp;&nbsp;Jouw waardering</th>
        </tr>
        </thead>
        <tr>
            <td>
                <div>
                    {% if recipe.rating is null %}
                        N/B
                        <br>
                        <br>
                    {% else %}
                        {{ recipe.rating|number_format(1) }} <i class="fas fa-star fa-star-gold"></i><br>
                        {{ recipe.votes }}
                        {% if recipe.votes == 1 %}
                            stem
                        {% else %}
                            stemmen
                        {% endif %}
                    {% endif %}
                </div>
            </td>
            <td>
                {% if isLoggedIn %}
                    <div id="rate_modal_button" class="fw-bold">&nbsp;&nbsp;
                        {% if rating is null %}

                            Waardeer <i class="far fa-star" id="rate_modal_button_star"></i>
                        {% else %}
                            {{ rating.rating }} <i class="fas fa-star" id="rate_modal_button_star"></i>
                        {% endif %}
                        <br>
                        <br>
                    </div>
                {% else %}
                    &nbsp;&nbsp;<a href="{{ path('app_login') }}" id="rate_recipe_login">Waardeer
                    <i class="far fa-star" id="rate_modal_button_star"></i>
                </a>
                    <br>
                    <br>
                {% endif %}
            </td>
        </tr>
    </table>
    <br>
    <br>
    <div id="single_recipe">
        {% if recipe.url is not null %}
            <div class="fw-bold">Url</div>
            {{ recipe.url }}
        {% endif %}
        <div class="fw-bold">Ingrediënten</div>
        {{ recipe.ingredients|nl2br }}
        <br>
        <br>
        <div class="fw-bold">Voedingsmiddelen gerecht</div>
        <table class="table">
            {% for id, weight in recipe.foodstuffWeights %}
                <tr>
                    <td>{{ recipe.foodstuffs()[id].name }}</td>
                    <td>{{ weight|number_format }}
                        {% if recipe.foodstuffs()[id].pieceName is not null
                            and weight >= 2
                            and recipe.foodstuffUnits()[id] == 'stuks' %}
                            {{ recipe.foodstuffs()[id].piecesName }}
                        {% elseif recipe.foodstuffs()[id].pieceName is not null
                            and weight < 2
                            and recipe.foodstuffUnits()[id] == 'stuks' %}
                            {{ recipe.foodstuffs()[id].pieceName }}
                        {% else %}
                            {{ recipe.foodstuffUnits()[id] }}
                        {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="fw-bold">Bereidingswijze</div>
        {{ recipe.preparationMethod|nl2br }}
        {% if recipe.source is not null %}
            <br>
            <br>
            <div class="fw-bold">Bron</div>
            {{ recipe.source }}
        {% endif %}
        {% if recipe.occasion is not null %}
            <br>
            <div class="fw-bold">Gelegenheid</div>
            {{ recipe.occasion }}
        {% endif %}
        {% if hasDiet %}
            <br>
            <br>
            <div class="fw-bold">Dieet</div>
        {% endif %}
        {% for choice in diet  %}
            <div>{{ choice }}</div>
        {% endfor %}
        <br>
        Reviews {{ paginator.results|length }}
        {% if isLoggedIn %}
            {% if rating is null %}
                <a href="{{ path('user_review_create', {'recipeId': recipe.id}) }}">schrijf een recensie</a>.
            {% else %}
                <a href="{{ path('user_review_edit', {'id': rating.id}) }}">schrijf een recensie</a>.
            {% endif %}
        {% endif %}
        <table class="table table-striped">
            {% for review in paginator.results %}
                <tr>
                    <td><a href="{{ path('review_single', {'id' : review.id}) }}">{{ review.recipe.title }}</a></td>
                    <td>{{ review.rating }} <i class="fas fa-star fa-star-gold"></i></td>
                    <td>{{ review.content|length > 10 ? review.content|slice(0, 10) ~ '...' : review.content }}</td>
                </tr>
            {% endfor %}
        </table>
        {{ include('pagination/view.html.twig', {route: 'review_index_paginated'}) }}
        {% if currentUserId == recipe.user.id %}
            <div><a href="{{ path('recipe_edit', {'id': recipe.id}) }}">wijzig</a></div>
        {% endif %}
    </div>
{% endblock %}
