{% extends 'base.html.twig' %}

{% block title %}{{ page is not null ? page.title : '' }}{% endblock %}

{% block body %}
    {{ page is not null ? page.content|raw : '' }}
    <a href="{{ path('user_recipe_create') }}">Maak een recept</a>
    {% if paginator.results is empty %}
        <p>Je hebt nog geen recepten gemaakt.</p>
    {% else %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Titel</th>
                <th scope="col">Wijzig</th>
            </tr>
            </thead>
            {% for recipe in paginator.results %}
                <tr>
                    <td>
                        {% if recipe.imageExtension is not null %}
                            <img src="{{ asset(recipe.getImageUrl(100)) }}"
                                 alt="label" class="img-fluid recipe-image">
                        {% endif %}
                    </td>
                    <td><a href="{{ path('recipe_single', {'id': recipe.id}) }}">{{ recipe.title }}</a></td>
                    <td><a href="{{ path('user_recipe_edit', {'id': recipe.id }) }}">wijzig</a></td>
                </tr>
            {% endfor %}
        </table>
        {{ include('pagination/view.html.twig', {route: 'recipe_index_paginated'}) }}
    {% endif %}
{% endblock %}
