{% for id, weight in weights %}
    <tr>
        <td>{{ include('_food_dropdown.html.twig', {
                'name_or_title': food_type == 'foodstuff' ? entities[id].name : entities[id].title,
            }) }}</td>
        {% if food_type == 'foodstuff' %}
            {% set classes = units[id].vars.attr.class %}
            <td>{{ form_widget(weight) }}</td>
            {% if not entities[id].isLiquid %}
                {% set classes = classes~' not-liquid' %}
            {% endif %}
            {% if entities[id].pieceWeight is null %}
                {% set classes = classes~' not-piece' %}
            {% endif %}
            <td>{{ form_widget(units[id], {'attr': {
                    'class': classes,
                    'data-piece-name':entities[id].pieceName,
                }}) }}</td>
        {% else %}
            <td colspan="2">{{ form_widget(weight) }}</td>
        {% endif %}
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td>
        <div id="{{ form_name }}_{{ food_type }}_dropdown"
             data-prototype="{{ include('_food_dropdown.html.twig', {'name_or_title': ''})|e('html') }}">
        </div>
    </td>
    <td>
        {% if weights|length == 0 %}
            {{ form_widget(weights) }}
        {% else %}
            <div id="{{ form_name }}_{{ food_type }}_weights"
                 data-prototype="{{ form_widget(weights.vars.prototype)|e('html') }}"></div>
        {% endif %}
    </td>
    <td>
        {% if units is defined and units|length == 0 %}
            {{ form_widget(units) }}
        {% elseif units is defined %}
            <div id="{{ form_name }}_{{ food_type }}_units"
                 data-prototype="{{ form_widget(units.vars.prototype)|e('html') }}"></div>
        {% endif %}
    </td>
    <td>
        {% if food_type == 'foodstuff' %}
            <div id="foodstuff_search" data-search="{{ path('foodstuff_search', {'name': '__name__'}) }}"></div>
        {% else %}
            <div id="recipe_search" data-search="{{ path('recipe_search', {'title': '__title__'}) }}"></div>
        {% endif %}
    </td>
</tr>
