<div id="foodstuff_weights_error"></div>
{% for id, weight in weights %}
    <div class="row row-weight">
        <div class="col-4">{{ form_widget(weight.foodstuff_id,
                {'value': foodstuff_weights[id].foodstuff.id}) }}
            <div class="dropdown">{{ form_widget(weight.name, {'value': foodstuff_weights[id].foodstuff.name}) }}
                <div class="dropdown-menu dropdown-menu-foodstuff">
                </div>
            </div>
        </div>
        <div class="col-3">
            {{ form_widget(weight.value) }}<span class="form-error">{{ form_errors(weight.value) }}</span>
        </div>
        <div class="col-4">
            {#
            The select is hidden when the foodstuffs are combined, because the unit displayes percentage then.
            The liquid options are hidden when the foodstuff is not liquid.
            The piece option is hidden when the foodstuff has no piece weight.
            #}
            {% set classes = weight.unit.vars.attr.class %}
            {% if form_name == 'combine_foodstuffs' %}
                {% set classes = classes~' hidden-input' %}
            {% endif %}
            {% if not foodstuff_weights[id].foodstuff.isLiquid %}
                {% set classes = classes~' not-liquid' %}
            {% endif %}
            {% if foodstuff_weights[id].foodstuff.pieceWeight is null %}
                {% set classes = classes~' not-piece' %}
            {% endif %}
            {{ form_widget(weight.unit, {'attr':{'class':classes}}) }}
            <span class="form-error">
                 {{ form_errors(weight.unit) }}
            </span>
        </div>
        <div class="col-1"><i class="remove-row fa fa-minus"></i></div>
    </div>
{% endfor %}
<div class="row d-none">
    <div class="col">
        <div id="{{ form_name }}_foodstuff_weights__name___foodstuff_id"
             data-prototype="{{ form_widget(weights.vars.prototype.foodstuff_id)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___name"
             data-prototype="{{ form_widget(weights.vars.prototype.name)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___value"
             data-prototype="{{ form_widget(weights.vars.prototype.value)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___unit"
             data-prototype="{{ form_widget(weights.vars.prototype.unit)|e('html') }}"></div>
    </div>
    <div class="col">
        <div id="foodstuff_search" data-search="{{ path('foodstuff_search', {'name': '__name__'}) }}"></div>
    </div>
</div>
