{% for id, weight in weights %}
    <tr>
        <td>
            <div class="dropdown">{{ form_widget(weight.name, {'value': foodstuff_weights[id].foodstuff.name}) }}
                <div class="dropdown-menu dropdown-menu-foodstuff">
                </div>
            </div>
        </td>
        {% set classes = weight.unit.vars.attr.class %}
        <td>{{ form_widget(weight.value) }}{{ form_widget(weight.foodstuff_id,
                {'value': foodstuff_weights[id].foodstuff.id}) }}</td>
        {% if not foodstuff_weights[id].foodstuff.isLiquid %}
            {% set classes = classes~' not-liquid' %}
        {% endif %}
        {% if foodstuff_weights[id].foodstuff.pieceWeight is null %}
            {% set classes = classes~' not-piece' %}
        {% endif %}
        <td>{{ form_widget(weight.unit, {
                'choices': foodstuff_weights[id].foodstuff.unitChoices(),
                'attr': {
                    'class': classes,
                    'data-piece-name':foodstuff_weights[id].foodstuff.pieceName,
                }}) }}</td>
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td colspan="3">
        <div id="{{ form_name }}_foodstuff_weights__name___foodstuff_id"
             data-prototype="{{ form_widget(weights.vars.prototype.foodstuff_id)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___name"
             data-prototype="{{ form_widget(weights.vars.prototype.name)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___value"
             data-prototype="{{ form_widget(weights.vars.prototype.value)|e('html') }}"></div>
        <div id="{{ form_name }}_foodstuff_weights__name___unit"
             data-prototype="{{ form_widget(weights.vars.prototype.unit)|e('html') }}"></div>
    </td>
    <td>
        <div id="foodstuff_search" data-search="{{ path('foodstuff_search', {'name': '__name__'}) }}"></div>
    </td>
</tr>
