{% for id, weight in weights %}
    {% set weight_value_classes = weight.value.vars.attr.class %}
    {% if form_name == 'cookbook' %}
        {% set weight_value_classes = weight_value_classes~' hidden-input' %}
    {% endif %}
    <tr>
        <td>
            <div class="dropdown">{{ form_widget(weight.name, {'value': recipe_weights[id].recipe.title}) }}
                <div class="dropdown-menu dropdown-menu-recipe">
                </div>
            </div>
        </td>
        <td colspan="2">{{ form_widget(weight.value, {'attr': {'class': weight_value_classes}}) }}
            {{ form_widget(weight.recipe_id, {'value': recipe_weights[id].recipe.id}) }}</td>
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td colspan="3">
        <div id="{{ form_name }}_recipe_weights__name___recipe_id"
             data-prototype="{{ form_widget(weights.vars.prototype.recipe_id)|e('html') }}"></div>
        <div id="{{ form_name }}_recipe_weights__name___name"
             data-prototype="{{ form_widget(weights.vars.prototype.name)|e('html') }}"></div>
        <div id="{{ form_name }}_recipe_weights__name___value"
             data-prototype="{{ form_widget(weights.vars.prototype.value)|e('html') }}"></div>
    </td>
    <td>
        <div id="recipe_search" data-search="{{ path('recipe_search', {'title': '__title__'}) }}"></div>
    </td>
</tr>
