<tr id="row{{ rowId }}">
    <td><div class="dropdown">
            <input type="text" class="foodstuff-name dropdown-toggle form-control" maxlength="255"
                   id="foodstuff-name{{ rowId }}"
                   value="{{ name }}" placeholder="voedingsmiddel"
                   data-bs-toggle="dropdown" aria-expanded="false" required>
            <div id="search-result{{ rowId }}" class="dropdown-menu dropdown-menu-foodstuff"
                 aria-labelledby="foodstuff-name{{ rowId }}">
            </div>
        </div></td>
    {% if formName == 'foodstuff_from_foodstuffs' %}
        {% set placeholder = 'procent' %}
    {% else %}
        {% set placeholder = 'gram/ml' %}
    {% endif %}
    <td>
        {{ form_widget(weight, {'attr': {'class': 'form-control recipe-weight'},
            'id': 'weight' ~ rowId, 'placeholder': placeholder}) }}
    </td>
    <td><i class="remove-row fa fa-minus" id="remove-row{{ rowId }}"></i></td>
</tr>
