{% for key, weight in weights %}
    {% set entitiyId = weight.vars.id|split('_')|last %}
    {% set entity = entities[entitiyId] %}
    {% if  foodType == 'foodstuff' %}
        {% set title = entity.name %}
    {% else %}
        {% set title = entity.title %}
    {% endif %}
    <tr>
        <td>{{ include('foodDropdown.html.twig', {'title': title, 'foodType': foodType, 'formName': formName}) }}</td>
        <td>{{ form_widget(weight) }}</td><td><span class="piece-name"></span></td>
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td><div id="{{ formName }}_{{ foodType }}Dropdown"
             data-prototype="{{ include('foodDropdown.html.twig', {'title': '', 'foodType': foodType,
                 'formName': formName})|e('html') }}"></div>
    </td>
    <td>
        {% if weights|length == 0 %}
            {{ form_widget(weights, {'id': formName~'_'~foodType~weightsOrPieces }) }}
        {% else %}
            <div id="{{ formName }}_{{ foodType }}{{ weightsOrPieces }}"
                 data-prototype="{{ form_widget(weights.vars.prototype)|e('html') }}"></div>
        {% endif %}
    </td>
    <td></td>
    <td>
        {% if foodType == 'foodstuff' %}
            <div id="foodstuffSearch" data-search="{{ path('foodstuffSearch', {'name': '__name__'}) }}"></div>
        {% else %}
            <div id="recipeSearch" data-search="{{ path('recipeSearch', {'title': '__title__'}) }}"></div>
        {% endif %}
    </td>
</tr>
