{% for key, weight in weights %}
    <tr>
        <td>{{ include('foodDropdown.html.twig', {
                'title': foodType == 'foodstuff' ? entities[key].name : entities[key].title,
                'foodType': foodType,
                'placeholder': placeholder
            }) }}</td>
        <td>{{ form_widget(weight) }}</td>
        <td><span class="piece-name"></span></td>
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td>
        <div id="{{ formName }}_{{ foodType }}Dropdown"
             data-prototype="{{ include('foodDropdown.html.twig', {
                 'title': '',
                 'foodType': foodType,
                 'placeholder': placeholder
             })|e('html') }}">
        </div>
    </td>
    <td>
        {% if weights|length == 0 %}
            {{ form_widget(weights, {'id': formName~'_'~foodType~weightsOrChoices }) }}
        {% else %}
            <div id="{{ formName }}_{{ foodType }}{{ weightsOrChoices }}"
                 data-prototype="{{ form_widget(weights.vars.prototype)|e('html') }}"></div>
        {% endif %}
    </td>
    <td></td>
    <td>
        {% if foodType == 'foodstuff' %}
            <div id="foodstuffSearch" data-search="{{ path('foodstuffSearch', {'name': '__name__'}) }}"></div>
        {% else %}
            <div id="recipeSearch" data-search="{{ path('recipeSearch', {'title': '__title__'}) }}"></div>
        {% endif %}
    </td>
</tr>
