{% for key, weight in weights %}
    {% set entitiyId = weight.vars.id|split('_')|last %}
    {% set entity = entities[entitiyId] %}
    {% set title = foodType == 'foodstuff' ? entity.name : entity.title %}
    <tr>
        <td>{{ include('foodDropdown.html.twig', {'title': title, 'foodType': foodType, 'formName': formName}) }}</td>
        <td>{{ form_widget(weight, {'id': ''}) }}</td>
        <td><i class="remove-row fa fa-minus"></i></td>
    </tr>
{% endfor %}
<tr class="d-none">
    <td><div id="{{ formName }}_{{ foodType }}Dropdown"
        data-prototype="{{ include('foodDropdown.html.twig', {'title': '', 'foodType': foodType,
            'formName': formName})|e('html') }}"></div>
    </td>
    <td>
        {% if weights|length == 0 %}
            {{ form_widget(weights) }}
        {% else %}
            <div id="{{ formName }}_{{ foodType }}Weights"
                 data-prototype="{{ form_widget(weights.vars.prototype)|e('html') }}"></div>
        {% endif %}
    </td>
    <td>
        <div id="foodstuffSearch" data-search="{{ path('foodstuffSearch', {'name': '__name__'}) }}"></div>
        <div id="recipeSearch" data-search="{{ path('recipeSearch', {'title': '__title__'}) }}"></div>
    </td>
</tr>
