{% if rowNumber is not defined %}
    {% set rowNumber = '-row-idr' %}
    {% set id = '' %}
    {% set title = '' %}
    {% set weight = '1' %}
{% endif %}
<tr id="row{{ rowNumber }}">
    <td><input type="text" name="{{ formName }}[recipeIds][]" id="recipe-value{{ rowNumber }}"
               value="{{ id }}" class="hidden-input" required>
        <div class="dropdown">
            <input type="text" class="recipe-name form-control dropdown-toggle" maxlength="255"
                   id="recipe-name{{ rowNumber }}" value="{{ title }}"
                   data-bs-toggle="dropdown" placeholder="recept" aria-expanded="false" required>
            <div id="search-result{{ rowNumber }}" class="dropdown-menu dropdown-menu-recipe"
                 aria-labelledby="recipeName{{ rowNumber}}">
            </div>
        </div></td>
    {% if formName == 'cookbook' %}
        <td></td>
    {% else %}
        <td><input type="text" name="{{ formName }}[recipeWeights][]"
                   placeholder="aantal keer" class="form-control recipe-weight" value="{{ weight }}" required></td>
    {% endif %}
    <td><i class="remove-row fa fa-minus" id="remove-row{{ rowNumber }}"></i></td>
</tr>
