{% if rowId is not defined %}
    {% set rowId = '-row-idr' %}
    {% set id = '' %}
    {% set title = '' %}
    {% set weight = '1' %}
    {% set formName = 'form-name' %}
{% endif %}
<tr id="row{{ rowId }}">
    <td><div class="dropdown">
            <input type="text" class="recipe-name form-control dropdown-toggle" maxlength="255"
                   id="recipe-name{{ rowId }}" value="{{ title }}"
                   data-bs-toggle="dropdown" placeholder="recept" aria-expanded="false" required>
            <div id="search-result{{ rowId }}" class="dropdown-menu dropdown-menu-recipe"
                 aria-labelledby="recipeName{{ rowId}}">
            </div>
        </div></td>
    <td><input id="weight{{ rowId }}" type="text" name="{{ formName }}[recipeWeights][{{ id }}]"
               placeholder="aantal keer" class="form-control recipe-weight" value="{{ weight }}" required></td>
    <td><i class="remove-row fa fa-minus" id="remove-row{{ rowId }}"></i></td>
</tr>
