{% if rowId is not defined %}
    {% set rowId = '-row-idr' %}
    {% set id = '' %}
    {% set title = '' %}
    {% set weight = '1' %}
{% endif %}
{% if formName == 'cookbook' %}
    {% set weightClasses = 'form-control recipe-weight hidden-input' %}
{% else %}
    {% set weightClasses = 'form-control recipe-weight' %}
{% endif %}
<tr id="row{{ rowId }}">
    <td><div class="dropdown">
            <input type="text" class="recipe-name form-control dropdown-toggle" maxlength="255"
                   id="recipe-name{{ rowId }}" value="{{ title }}"
                   data-bs-toggle="dropdown" placeholder="recept" aria-expanded="false" required>
            <div id="search-result{{ rowId }}" class="dropdown-menu dropdown-menu-recipe"
                 aria-labelledby="recipeName{{ rowId}}">
            </div>
        </div></td>
    <td>{% if id == '' %}
            <input id="weight{{ rowId }}" type="text" name="{{ formName }}[recipeWeights][]"
                   placeholder="aantal keer" class="{{ weightClasses }}" value="1" required>
        {% else %}
            {{ form_widget(weight, {'attr': {'class': weightClasses},
                'id': 'weight' ~ rowId, 'placeholder': 'aantal keer'}) }}
        {% endif %}</td>
    <td><i class="remove-row fa fa-minus" id="remove-row{{ rowId }}"></i></td>
</tr>
