{% extends 'base.html.twig' %}

{% block title %}Maak voedingsmiddel van voedingsmiddelen{% endblock %}

{% block body %}
    <div id="form-errors-client"></div>
    <div id="form-errors-server">
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
    </div>
    {{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
    <table class="food-table table table-small">
        <tr>
            <td>Naam</td>
            <td colspan="3">{{ form_widget(form.name) }}</td>
        </tr>
        {{ include('foodRow.html.twig', {'formName':
            'foodstuff_from_foodstuffs',
            'weights': form.foodstuffWeights,
            'foodType': 'foodstuff',
            'weightsOrChoices': 'Weights',
            'placeholder': 'voedingsmiddel'
        }) }}
        <tr id="add-foodstuff-recipe-button-row">
            <td colspan="4"><div class="btn btn-primary" id="add-foodstuff">Voedingsmiddel toevoegen</div></td>
        </tr>
        <tr>
            <td colspan="4">{{ form_widget(form.submit, { 'label': 'Voedingsmiddel opslaan' }) }}</td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}
