{% extends 'base.html.twig' %}

{% block title %}Maak voedingsmiddel van voedingsmiddelen{% endblock %}

{% block body %}
    <div id="form-errors-client"></div>
    <div id="form-errors-server">
        {{ form_errors(form) }}
        {{ form_errors(form.name) }}
    </div>
    {{ form_start(form, { 'attr' : { 'class': 'foodstuff-recipe-form' }}) }}
    <table class="foodstuff-recipe-table table table-small">
        <tr><td>Naam</td><td colspan="2">{{ form_widget(form.name) }}</td></tr>
        <tr id="add-foodstuff-recipe-button-row"><td colspan="3">
                <button class="btn btn-primary" id="add-foodstuff">Voedingsmiddel toevoegen</button></td></tr>
        <tr><td colspan="3">{{ form_widget(form.submit, { 'label': 'Voedingsmiddel opslaan' }) }}</td></tr>
    </table>
    <div class="d-none">
        {{ form_widget(form.foodstuffWeights) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
