<div id="form_errors_client"></div>
<div id="form_errors_server">
    {{ form_errors(form) }}
    {{ form_errors(form.name) }}
</div>
{{ form_start(form) }}
<table class="table table-small">
    <tr>
        <td>Naam</td><td>{{ form_widget(form.name) }}</td>
    </tr>
    <tr>
        <td colspan="2">{{ form_widget(form.submit, { 'label': submit_label }) }}</td>
    </tr>
</table>
{{ form_end(form) }}
