<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.slug) }}
    {{ form_errors(form.summary) }}
    {{ form_errors(form.content) }}
</div>
{{ form_start(form) }}
<div class="recipeSingleProperty">Titel</div>
{{ form_widget(form.title) }}
<div class="recipeSingleProperty">Slug</div>
{{ form_widget(form.slug) }}
<div class="recipeSingleProperty">Samenvatting</div>
{{ form_widget(form.summary) }}
<div class="recipeSingleProperty">Content</div>
{{ form_widget(form.content) }}
<div>{{ form_widget(form.submit, { 'label': submitLabel }) }}</div>
{{ form_end(form) }}
