<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.slug) }}
    {{ form_errors(form.summary) }}
    {{ form_errors(form.content) }}
</div>
{{ form_start(form) }}
<table class="table table-small">
    <tr><td>{{ form_label(form.title) }}</td><td>{{ form_widget(form.title) }}</td></tr>
    <tr><td>{{ form_label(form.slug) }}</td><td>{{ form_widget(form.slug) }}</td></tr>
    <tr><td>{{ form_label(form.summary) }}</td><td>{{ form_widget(form.summary) }}</td></tr>
    <tr><td>{{ form_label(form.content) }}</td><td>{{ form_widget(form.content) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
