<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.rating) }}
    {{ form_errors(form.content) }}
</div>
{{ form_start(form) }}
<table class="food-table table table-small">
    <tr><td>Waardering</td><td colspan="2">{{ form_widget(form.rating) }}</td></tr>
    <tr><td>Review</td><td colspan="2">{{ form_widget(form.content) }}</td></tr>
    <tr><td colspan="3">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
