<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.rating) }}
    {{ form_errors(form.content) }}
</div>
{{ form_start(form) }}
<div class="recipeSingleProperty">Waardering</div>
{{ form_widget(form.rating) }}
<div class="recipeSingleProperty">Review</div>
{{ form_widget(form.content) }}
<div>{{ form_widget(form.submit, { 'label': submitLabel }) }}</div>
{{ form_end(form) }}
