<div id="formErrorsClient"></div>
<div id="formErrorsServer">
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
    {{ form_errors(form.pending) }}
</div>
{{ form_start(form) }}
<table id="recipeTable">
    <tr><td>Titel</td><td>{{ form_widget(form.title) }}</td></tr>
    <tr><td>Gebruiker</td><td>{{ form_widget(form.user) }}</td></tr>
    <tr><td>Pending</td><td>{{ form_widget(form.pending) }}</td></tr>
    <tr><td colspan="2">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
