<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.pending) }}
</div>
{{ form_start(form) }}
<div class="recipeSingleProperty">Ingredients</div>
{{ recipe.ingredients }}
<div class="recipeSingleProperty">Bereidingswijze</div>
{{ recipe.preparationMethod }}
<div class="recipeSingleProperty">Leuk verhaal</div>
{{ recipe.niceStory }}
<div class="recipeSingleProperty">Leuke tips</div>
{{ recipe.niceTips }}
<div class="recipeSingleProperty">Hulpmiddelen en keukengerei</div>
{{ recipe.toolsAndKitchenware }}
<div class="recipeSingleProperty">Wacht op goedkeuring</div>
{{ form_widget(form.pending) }}
<div>{{ form_widget(form.submit, { 'label': submitLabel }) }}</div>
{{ form_end(form) }}
