<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
</div>
{{ form_start(form, { 'attr' : { 'class': 'food-form' }}) }}
<table class="food-table table table-small">
    <tr><td>Titel</td><td colspan="2">{{ form_widget(form.title) }}</td></tr>
    {{ include('foodRow.html.twig', {'formName': 'cookbook', 'entities': cookbook.recipes,
        'weights': form.recipeWeights, 'foodType': 'recipe'}) }}
    <tr id="add-foodstuff-recipe-button-row"><td colspan="3">
            <button class="btn btn-primary" id="add-recipe">Recept toevoegen</button></td></tr>
    <tr><td colspan="3">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
{{ form_end(form) }}
