<div id="form-errors-client"></div>
<div id="form-errors-server">
    {{ form_errors(form) }}
    {{ form_errors(form.title) }}
</div>
{{ form_start(form, { 'attr' : { 'class': 'foodstuff-recipe-form' }}) }}
<table class="foodstuff-recipe-table table table-small">
    <tr><td>Titel</td><td colspan="2">{{ form_widget(form.title) }}</td></tr>
    {% for rowNumber, recipe in cookbook.recipes %}
        {{ include('recipeRow.html.twig', {'rowNumber': rowNumber + 1, 'formName': 'cookbook',
            'id': recipe.id, 'title': recipe.title}) }}
    {% endfor %}
    <tr id="add-foodstuff-recipe-button-row"><td colspan="3">
            <button class="btn btn-primary" id="add-recipe">Recept toevoegen</button></td></tr>
    <tr><td colspan="3">{{ form_widget(form.submit, { 'label': submitLabel }) }}</td></tr>
</table>
<div class="d-none">
    {{ form_widget(form.recipeIds) }}
</div>
{{ form_end(form) }}
